{
    "presets": [
      ["env", {
        "targets": {
          "browsers": ["defaults"],
          "node": "8.2.1",
        }
      }],
      "flow"
    ],
    "plugins": [
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }],
        "transform-object-rest-spread",
        "transform-class-properties"
    ]
}
