{
    "extends": [
        "@colony/eslint-config-colony",
        "prettier",
        "prettier/flowtype",
        "prettier/react"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "import/no-extraneous-dependencies": [0]
    }
}
