{
  "extends": ["@colony/eslint-config-colony"],
  "env": {
    "browser": true
  },
  "globals": {
     // XXX waiting on https://github.com/gajus/eslint-plugin-flowtype/pull/308
    "$PropertyType": false
  },
  "overrides": [
        {
            "files": "*.test.js",
            "rules": {
                "flowtype/require-valid-file-annotation": "off"
            }
        }
    ]
}
