.container {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
}

.header {
  background-color: rgb(40,44,52);
  height: 12vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6vmin;
}

.title {
  color: rgb(97,218,251);
  font-size: calc(5px + 2vmin);
  font-weight: 300;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message {
  padding: 4vmin;
}
