.container {
  padding: 2rem;

  h2 {
    font-weight: 400;
    padding-bottom: 1rem;
  }

}

.form {
  padding: 0.5rem 0;
}

.field {
  padding: 0.5rem 0;

  label, input, select {
    margin-right: 0.5rem;
  }

}

.buttons, .message {
  padding: 1rem 0;

  .disabled {
    background: rgb(250, 250, 250);
    box-shadow: none;
    color: rgb(180, 180, 180);
    cursor: not-allowed;
    pointer-events: none;
  }

}

.error {
  color: red;
}
