.container {
  padding: 0.5rem;
}

.buttons, .message {
  padding: 0.5rem 0;

  button {
    margin: 0.25rem;
    padding: 0.5rem;
  }

  .disabled {
    background: rgb(250, 250, 250);
    box-shadow: none;
    color: rgb(180, 180, 180);
    cursor: not-allowed;
    pointer-events: none;
  }

}

.error {
  color: red;
}
