.container {
  padding: 1rem 0;
  text-align: center;
  width: 100vw;

  h2 {
    font-size: 2rem;
    padding: 1rem 0;
  }

}

.field {

  label {
    display: block;
    padding: 1rem 0;
  }

  input {
    text-align: center;
    width: 400px;
  }

}

.buttons {
  padding: 2rem 0;
}

.error {
  color: red;
}
