mat-toolbar {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  text-align: center;
}

.logo {
  display: inline-block;
  width: 50px;
}

.title {
  display: inline-block;
  padding: 0.5rem;
}

mat-card {
  padding: 1rem;
  text-align: center;
}

mat-card-title {
  font-size: 1rem;
  padding: 0.5rem;
}

mat-card-content {
  padding: 0.5rem;
}
