.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.selector {
  margin-bottom: 10%;
  width: 500px;
}

.title {
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}

.message {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0.5rem;
    text-align: center;
    transition: 0.25s;
  }

  li:hover {
    background: #EEE;
    cursor: pointer;
  }

}
