body {
  margin: 0;
}

body:hover {
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #000;
}

a:hover {
  cursor: pointer;
}

button {
  background: #333;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #FFF;
  font-size: 0.85rem;
  font-weight: 400;
  opacity: 1;
  outline: none;
  padding: 0.7rem 1.1rem;
  transition: 0.25s;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  opacity: 0.9;
}

input, select {
  border: 1px solid #CCC;
  border-radius: 3px;
  font-size: 0.85rem;
  font-weight: 300;
  outline: none;
  padding: 0.4rem;
  transition: 0.25s;
}

input:focus {
  border: 1px solid #AAA;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

textarea {
  outline: none;
}
