name: CI build and test

on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.18.1]

    steps:
    - uses: pnpm/action-setup@v2
      with:
        version: 8.4.0
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: pnpm --filter "@colony/contractor" install --ignore-scripts
    - run: pnpm --filter "@colony/contractor" run build
    - run: pnpm install --frozen-lockfile
    - run: pnpm run lint
    - run: pnpm run build
      env:
        NODE_OPTIONS: "--max-old-space-size=4096"
    - run: npm run test
      env:
        CI: true
        NODE_OPTIONS: "--max-old-space-size=4096"
    - run: npm run no-git-changes
