name: Generate and commit docs

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: pnpm/action-setup@v2
      with:
        version: 8.14.1
    - name: Use Node.js 20.x
      uses: actions/setup-node@v1
      with:
        node-version: '20.x'
    - run: pnpm run bootstrap
    # Exclude the build of sdk and colony-js as it's not necessary for the docs to build
    - run: pnpm --filter '!sdk' --filter '!colony-js' run build
    - run: pnpm run build-docs
      env:
        NODE_OPTIONS: --max-old-space-size=4096
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "chore: Generate docs"
